/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-ene-2017, 14:02:00
    Author     : alumne
*/

html{
  width: 100%;
  height: 100%;
  background: white;
  overflow-x: hidden;
}
body{
  width: 100%;
  height: 100%;

}
header{
 border-bottom: solid blue;
  width: 100%;
  height: 30%;
  overflow: hidden;
}
header img{
  width: 100%;
  height: 280%;
}

nav{
  width: 100%;
  height: 6%;
  background-color: black;
  color:white;
  
}
nav ul{
  width: 100%;
  height: 100%;
}
nav li{

  float: right;
  display: inline;
  height: 65%;
  width: 33.1%;
  text-align: center;
  padding-top: 0.8%;
}
nav li:hover  {
  background-color: #A4A4A4;
  border-radius: 0.5em;
}
nav a{
  text-decoration: none;
  color: white;
  font-size:1vw;
  font-size:3vh;
  text-align: center;
  
}

main{
    border: solid;
    width: 100%;
    height: 100%;
}
#formToCreateForm{

    width: 50%;
    height: 90%;
    margin:auto;
    margin-top: 2%; 
    font-size: 1vw;
    background: #e6e6e6;
    border-radius: 1%;  
    padding-top: 2%;
    border: solid #00fffc;
}
#tableCrearForm {
    width: 100%;
    height: 105%;
    text-align: center;
    
    
}
#tableCrearForm td,#tableCrearForm th{ 
    width: 10%;


}

#tableCrearForm input[type=text]{
     width: 80%;
     height: 5vh;
     border: 1px solid;
     border-radius: 1em;
}
#tableCrearForm input[type=text]:focus{
     width: 95%;
     border: solid 1px blue;
}
#tableCrearForm select{
     width: 50%;
     height: 6vh;
}

#tdExtension{
    text-align: left;
}
#buttonCreateReset,#buttonCreateSubmit{
    width: 35%;
    height: 10vh;
    border-radius: 50%;
    font-size: 1vw;
    background:#00fffc;
}
.createCorrecly{
    width: 100%;
    height: 8%;
    background: #00ff91;
    text-align: center;
    padding-top: 2%;
    margin-top: 2%;
    border:solid 5px black;
    font-size: 2vw;
    
}
.createError{
    width: 100%;
    height: 8%;
    background: red;
    text-align: center;
    padding-top: 2%;
    margin-top: 2%;
    border:solid 5px black;
    font-size: 2vw;
    
}
#formToSearch{

    width: 50%;
    height: 10%;
    margin:auto;
    margin-top: 2%; 
    font-size: 1vw;
    background:#e6e6e6;
    border-radius: 10em;      
    border: solid 2px #00fffc;
    text-align: center;
}
#formToSearch select{
    
    width: 50%;
    height: 50%;
    margin-top: 2%; 
    font-size: 1vw;
    
}
#formToSearch input[type=submit]{
    
    width: 15%;
    height: 50%;
    margin-top: 2%;
    border: solid 1px;
    border-radius: 2em;  
    font-size: 1vw;
}
#menuSearchForm{ 
    width: 50%;
    height: 10%;
    margin:auto;
    margin-top: 1%; 
    font-size: 1vw;
    background:#e6e6e6;
    border-radius: 10em;      
    border: solid 2px #00fffc;
    text-align: center;
}

#menuSearchForm button{
    margin-top: 2%;
    width: 19%;
    height: 50%;
    
}

#tableListForm{  
    margin-top: 1%; 
}
#tableListForm table{
    border:solid 1px;
    width: 50%;
    background:#e6e6e6;
    border: solid 2px black;
    text-align: center;
    margin:auto;
}
#tableListForm td,#tableListForm th{
    width: 10%;
    border:solid 2px black;
}
#tableListForm th{
    font-size: 1vw;
}

#AddRowForm{
    width: 50%;
    height: 40%;
    margin:auto;
    margin-top: 1%; 
    font-size: 1vw;
    background:#e6e6e6;
    border-radius: 10em;      
    border: solid 2px #00fffc;
    text-align: center;
}
#AddRowForm table{
    text-align: center;
    margin: auto;
    margin-top:3%;
}

#AddRowForm input[type=submit], #AddRowForm input[type=reset]{
    
    margin-top:6%;
    float: right;
    
}
#AddRowForm input[type=submit]{
    width: 50%;
    
}
#AddRowForm input[type=reset]{
    width: 160%;
    position: relative;
    left: 100%;
}
#formConsultRow{
    width: 50%;
    height: 15%;
    margin:auto;
    margin-top: 1%; 
    font-size: 1vw;
    background:#e6e6e6;
    border-radius: 10em;      
    border: solid 2px #00fffc;
    text-align: center;
    padding-top: 1.5%;
}

#tableConsultRow{
    margin:auto;
}